<ng-container *ngIf="totaliza=='F'">
  <div class="card mt-2">
    <h5 class="card-header">Finalizar Consumo Balção</h5>
    <div class="card-body  d-flex justify-content-center">
      <div class="col-8">
        <div class="alert alert-primary" role="alert">
          Total : {{ total | currency}}
        </div>
        <form class="row g-3" [formGroup]="formulario" (ngSubmit)="onSubmit()">

          <div *ngFor="let formField of formFields" class="form-group">
            <app-dynamic-form-input [input]="formField" [form]="formulario"></app-dynamic-form-input>
          </div>

          <div class="mb-3">
            <button class="btn btn-primary" type="submit">Enviar</button>
            <button class="btn btn-primary" type="button" (click)="getTotaliza()">totalizacao</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
