  <div class="col" *ngFor="let items of wrapper.msgSaida[0]; trackBy:wrapper.msgSaida[0].id; let i= index" [style.z-index]="100-i*30">
    <div class="card ">
      <div class="card-header bg-transparent border-success">
        <ng-container *ngIf="items.mesa">
          <strong>{{ items.mesa.identificacao }}</strong>
        </ng-container>
        <ng-container *ngIf="!items.mesa">
          <strong>{{ this.wrapper.msgSaida[0][1].venda.descricao }}</strong>
        </ng-container>
      </div>
      <img src="../../assets/pratofeito.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ items.mercadoria.nome }}
          <span class="badge text-bg-danger" *ngFor="let mens of items.mensagens; trackBy:items.mensagens.id">
            {{ mens.descricao }}
            </span>
        </h5>
        <p class="card-text">
          <ng-container *ngIf="items.mesa">
            <p class="card-text">Consumidor: <strong>{{ items.consumidor }} </strong><br>
            </p>
          </ng-container>
          <ng-container *ngIf="!items.mesa">
            <p class="card-text">Consumidor: {{ items.consumidor }} <br>

            </p>
          </ng-container>

        </p>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary m-2" type="button" (click)="finalizaPreparo(items.id)">Finalizado</button>
      </div>
      <div class="card-footer">
        <div class="row">
          <input type="hidden" value="{{items.data_emissao}}" id="data_emissao-{{items.id}}">
          <div class="col text-start" id="inicio-{{items.id}}">
            {{ items.data_emissao  | date:"HH:mm"}}
          </div>
          <div class="col text-end" id="fim-{{items.id}}">
           {{ items.data_termino  | date:"HH:mm"}}
          </div>
        </div>

        <small class="text-muted">
          <div class="progress" >
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" title="{{ items.data_termino }}" id="progresstime-{{items.id}}" role="progressbar"  style="width: 1%" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </small>
      </div>
    </div>
  </div>
