
<div class="container-fluid" >
  <div class="row">
    <div class="col-sm-auto bg-light sticky-top">
      <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
        <div>
          <a class="navbar-brand" href="">
            <img src="https://cdn-icons-png.flaticon.com/512/194/194630.png" alt="Bootstrap" width="80" height="80" class="mt-2">
          </a>
        </div>
        <hr>

        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Administração</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Movimento</a>
          </li>
        </ul>


        <div class="btn-group-vertical mt-5" role="group" aria-label="Vertical button group">

          <button type="button" class="btn btn-danger mt-2">Mesa</button>
          <button type="button" class="btn btn-primary mt-2">Balção</button>
          <button type="button" class="btn btn-secondary mt-2">Delivery</button>
          <button type="button" class="btn btn btn-success mt-2">Eventos</button>

        </div>
      </div>
    </div>
    <div class="col-sm p-3 min-vh-100">
      <app-filtro></app-filtro>
      <app-mesas></app-mesas>

    </div>
  </div>
</div>

